<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>INPUT_VIEW</key>
	<dict>
		<key>DIVIDER_COLOR</key>
		<string>#00000000</string>
	</dict>
	<key>CANDIDATE</key>
	<dict>
		<key>CANDIDATE_BAR_COLOR</key>
		<string>#000000</string>
		<key>CANDIDATE_FIRST_TEXT_COLOR</key>
		<string>#fffcbd</string>
		<key>CANDIDATE_TEXT_COLOR</key>
		<string>#ffffff</string>
	</dict>
	<key>TOOLBAR_BG_COLOR</key>
	<string>#f26673</string>
	<key>TOOLBAR_ICON_COLOR</key>
	<string>b</string>
	<key>TOOLBAR_ICON_TINT_COLOR</key>
	<string>#ffffff</string>
	<key>TOOLBAR_ICON_HIGHLIGHT_COLOR</key>
	<string>#ffffff</string>
	<key>FONT_NAME</key>
	<string>.SFUIDisplay-Light</string>
	<key>FONT_SIZE</key>
	<integer>21</integer>
	<key>HAS_DIVIDER</key>
	<false/>
	<key>DIVIDER_COLOR</key>
	<string>#00000000</string>
	<key>LETTER_COLOR</key>
	<string>#ffffff</string>
	<key>LETTER_IMAGE_SUFFIX</key>
	<string>w</string>
	<key>ENTER_SEP_LETTER_COLOR</key>
	<string>#fef6b4</string>
	<key>POPUP_LETTER_COLOR</key>
	<string>#fb9780</string>
	<key>BACKGROUND_COLOR</key>
	<string>#ffffff</string>
	<key>MULTIPLE_POPUP_BG_COLOR</key>
	<string>#feb3a5</string>
	<key>MULTIPLE_POPUP_SELECTED_BG_COLOR</key>
	<string>#ffcdc4</string>
	<key>KEYS_COLOR</key>
	<dict>
		<key>EMOJI_KEY_COLOR</key>
		<string>#ffffff</string>
		<key>SYMBOLS_KEY_COLOR</key>
		<string>#ffffff</string>
		<key>DELETE_KEY_COLOR</key>
		<string>#ffeb26</string>
		<key>SPACE_KEY_COLOR</key>
		<string>#ffffff</string>
		<key>SHIFT_KEY_COLOR</key>
		<string>#ffeb26</string>
		<key>ENTER_KEY_NORMAL_COLOR</key>
		<string>#ffffff</string>
		<key>NUMS_SWITCH_KEY_COLOR</key>
		<string>#ffffff</string>
	</dict>
	<key>PRO</key>
	<dict>
		<key>FUNC_KEY_COLOR</key>
		<string>#ffffff</string>
	</dict>
	<key>PANEL</key>
	<dict>
		<key>TOPBAR_COLOR</key>
		<string>#f26673</string>
		<key>TOPBAR_ICON_COLOR_NARMAL</key>
		<string>#b6565f</string>
		<key>TOPBAR_ICON_COLOR_HIGHLIGHTED</key>
		<string>#ffd9bf</string>
		<key>DIVIDER_COLOR</key>
		<string>#c35a65</string>
		<key>BG_COLOR</key>
		<string>#f4808b</string>
		<key>RETURN_BTN_BG_COLOR</key>
		<string>#f8c099</string>
		<key>RETURN_BTN_COLOR</key>
		<string>#ffffff</string>
		<key>DELETE_BTN_BG_COLOR</key>
		<string>#d96672</string>
		<key>DELETE_BTN_COLOR</key>
		<string>#a34750</string>
		<key>FONT_COLOR</key>
		<string>#ffffff</string>
		<key>TAB_FONT_COLOR</key>
		<string>#b6565f</string>
		<key>TAB_FONT_COLOR_HIGHLIGHED</key>
		<string>#ffd9bf</string>
		<key>TAB_BG_COLOR</key>
		<string>#e36d79</string>
		<key>TAB_BG_COLOR_HIGHLIGHED</key>
		<string>#e36d79</string>
		<key>ITEM_BG_COLOR</key>
		<string>#fb919b</string>
	</dict>
	<key>KAOMOJI</key>
	<dict>
		<key>PANEL_TOPBAR_COLOR</key>
		<string>#ffffff</string>
		<key>PANEL_TOPBAR_ICON_COLOR_NARMAL</key>
		<string>#777777</string>
		<key>PANEL_TOPBAR_ICON_COLOR_HIGHLIGHTED</key>
		<string>#fab602</string>
		<key>RETURN_BTN_COLOR</key>
		<string>#fab602</string>
		<key>DELETE_BTN_BG_COLOR</key>
		<string>#fcfcfc</string>
		<key>CONTROL_DIVIDER_COLOR</key>
		<string>#d2d5db</string>
		<key>DIVIDER_COLOR</key>
		<string>#00000000</string>
		<key>FONT_COLOR</key>
		<string>#000000</string>
		<key>FONT_COLOR_SELECTED</key>
		<string>#ffffff</string>
		<key>ITEM_TITLE_FONT_COLOR</key>
		<string>#777777</string>
		<key>ITEM_TITLE_FONT_COLOR_SELECTED</key>
		<string>#fab602</string>
		<key>ITEM_BG_COLOR</key>
		<string>#fcfcfc</string>
		<key>ITEM_BG_COLOR_PRESSED</key>
		<string>#fcfcfc</string>
		<key>EMOJI_PANEL_BG_COLOR</key>
		<string>#f4f4f4</string>
		<key>AAITEM_BG_COLOR</key>
		<string>#ffffff</string>
		<key>KAOMOJI_FONT_COLOR</key>
		<string>#000000</string>
	</dict>
</dict>
</plist>
